{% extends 'main.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<style>
    a{
        text-decoration:none;
        color:black;
    }
    a:hover{
        color:blue;
    }
    #replied{
        border:1px solid black;
        margin-right:20%;
        margin-left:20%;
    }
</style>
<br>
<div class='container-sm'>
    <div class='row'>
        <div class='col-3 container-sm '>
            {% include 'topic_component.html' %}
        </div>
        <div class='col-6 container-sm'>
            {% include 'feed_component.html' %}
        </div>
        <div class='col-3 container-sm'>
            {% include 'activity_component.html' %}
        </div>
    </div>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NsfEOJk8Aho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NsfEOJk8Aho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NsfEOJk8Aho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>







{% endblock content %}